{%extends 'base.html' %}

{% block content%}
<div id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<!-- Container (About Section) -->
<div id="about" class="container-fluid2">
  <div class="row">
    <div class="col-sm-8">
      <h2>About Maroon</h2><br>
   
      <p>Maroon is all about you - Our aim is to empower every person in the country to independently connect with
			buyers and sellers online. Maroon is widely known as India’s no. 1 online
			classifieds platform - and there’s a reason behind that. We care about you - and the transactions that bring
			you closer to your dreams. Want to buy your first car? We’re here for you. Want to sell commercial property
			to buy a home for your family? We’re here for you. Whatever job you’ve got, we promise to get it done</p>
      <br><button class="btn btn-default btn-lg">Get in Touch</button>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-signal logo"></span>
    </div>
  </div>
</div>

<div class="container-fluid2 bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-globe logo slideanim"></span>
    </div>
    <div class="col-sm-8">
      <h2>Ushering in the new age of Maroon</h2><br>
     <p>We are proud to be India’s leading platform to sell, buy, rent or find something. Our goal is to help our
			community of buyers and sellers address their needs in the simplest and fastest way. We do this by listening
			to our community, fostering innovation and keeping the platform simple. The awards and recognition we
			receive is thanks to the effort and success achieved by millions of individuals and small businesses across
			India.</p>
    </div>
  </div>
</div>

<!-- Container (Services Section) -->
<div id="services" class="container-fluid2 text-center">
  <h2>SERVICES</h2>
  <h4>What we offer</h4>
  <br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-log-in logo-small"></span>
      <h4>BUY</h4>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-log-out logo-small"></span>
      <h4>SELL</h4>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-retweet logo-small"></span>
      <h4>TO-LET</h4>
    </div>
  </div>
  <br><br>
</div>

</div>



{%endblock content%}